
<mat-toolbar color="primary" >
  <span > {{nombre}} </span>

  <span class="example-spacer"></span>
  <form >
    <mat-form-field appearance="fill">
      <mat-label>Buscar</mat-label>
      <input #name matInput>
    </mat-form-field>

    <button mat-mini-fab color="warn" (click)="buscar(name)" >
      <mat-icon> search </mat-icon>
    </button>
  </form>
  <span class="example-spacer"></span>

  <div class="example-button-row">
    <button [routerLink]="[ '/home/fecha-pedidos' ]"  mat-button color="link">Pedidos</button>
    <button [routerLink]="[ '/home/crear-pedido' ]" mat-button color="link">Nuevo pedido</button>
    <button [routerLink]="[ '/home/cocina' ]" mat-button color="link">Cocina</button>
    <button  style="color: #ffee33;" mat-button (click)="logout()" >Cerrar sesion</button>
  </div>

</mat-toolbar>
