<div class="container" >

    <div class="card" style="margin-bottom: 1%;" >

      <div class="card-body" >
        <div class="row" >
          <div class="col-md-4" >
            <button class="btn btn-outline-success" (click)="pedidosHoy()" >Hoy</button>
          </div>
          <div class="col-md-4" >
            <input type="date" #fecha>
            <button class="btn btn-outline-warning" (click)="fechaPedido(fecha)" >Buscar</button>
          </div>
          <div class="col-md-4" >
<!--            <button class="btn btn-outline-info" [routerLink]="[ '/home/pedidos' ]" >Todos</button>-->
            <h3> Total ingresos: {{ ingresos }} Bs. </h3>
          </div>
        </div>
      </div>

    </div>

    <div *ngIf="pedidos != undefined" >
      <div class="card" *ngFor="let pedido of pedidos;let i = index;" >

        <div class="card-header">
            <div class="row" >

              <div class="col-md-4" >
                Cliente: {{ pedido.nombre_cliente }}
              </div>
              <div class="col-md-4" >
                Fecha y hora: {{ pedido.fecha_creacion }}, {{ pedido.hora_creacion }}
              </div>
              <div class="col-md-4" >
                Cuenta: {{ pedido.cuenta_pedido }} Bs
              </div>

            </div>
        </div>

          <div class="card-body">
            <h5 class="card-title">Ordenes</h5>
            <p class="card-text" *ngFor="let orden of pedido.orden" >
              Cantidad: {{ orden.cantidad }},, Nombre: {{ orden.producto.nombre }},, Descripcion: {{ orden.descripcion }}
            </p>
        </div>
      </div>
    </div>


    <div *ngIf="pedidos === ''" >
      <h2>No hay pedidos!</h2>
    </div>

</div>
