<app-navbar (busqueda)="recibirMensaje($event)" [fecha]="fechaActualBusqueda" ></app-navbar>

<!--<div class="container" >-->

<!--    <div class="card" style="margin-bottom: 1%;" >-->

<!--      <div class="card-body" >-->
<!--        <div class="row" >-->
<!--          <div class="col-md-4" >-->
<!--            <button class="btn btn-outline-success" (click)="pedidosHoy()" >Hoy</button>-->
<!--          </div>-->
<!--          <div class="col-md-4" >-->
<!--            <input type="date" #fecha>-->
<!--            <button class="btn btn-outline-warning" (click)="fechaPedido(fecha)" >Buscar</button>-->
<!--          </div>-->
<!--          <div class="col-md-4" >-->
<!--&lt;!&ndash;            <button class="btn btn-outline-info" [routerLink]="[ '/home/pedidos' ]" >Todos</button>&ndash;&gt;-->
<!--            <h3> Total ingresos: {{ ingresos }} Bs. </h3>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->

<!--  <h1> {{ convertirFecha(fechaActualBusquedaFormat) }} </h1>-->

<!--    <div *ngIf="pedidos != undefined" >-->
<!--      <div class="card" *ngFor="let pedido of pedidos; let i = index;" >-->

<!--        <div class="card-header">-->
<!--            <div class="row" >-->

<!--              <div class="col-md-3" >-->
<!--                <h3> <span class="badge badge-dark" >Cliente: {{ pedido.nombre_cliente }}</span> </h3>-->
<!--              </div>-->
<!--              <div class="col-md-3" >-->
<!--                <h5>-->
<!--                  <span class="badge badge-warning" >-->
<!--                    Hora: {{ pedido.hora_creacion }}-->
<!--                  </span>-->
<!--                </h5>-->
<!--              </div>-->
<!--              <div class="col-md-3" >-->
<!--                <h5> <span class="badge badge-success" >Cuenta: {{ pedido.cuenta_pedido }} Bs</span> </h5>-->
<!--              </div>-->
<!--              <div class="col-md-3">-->
<!--                <h5> <span class="badge badge-info" > {{ pedido.tipo }} </span> </h5>-->
<!--              </div>-->

<!--            </div>-->
<!--        </div>-->

<!--          <div class="card-body">-->
<!--            <div class="row">-->
<!--              <div class="col-7">-->
<!--                <h5 class="card-title">Ordenes</h5>-->
<!--                <div class="card-text" *ngFor="let orden of pedido.orden" >-->
<!--                  <span class="badge " [ngClass]="{ 'badge-danger': orden.categoria === 'pizzas', 'badge-warning': orden.categoria === 'alitas', 'badge-info': orden.categoria === 'refrescos', 'badge-primary': orden.categoria === 'helados' }" >{{ orden.categoria }} </span>-->
<!--                  <p class="font-weight-bolder"> {{ orden.cantidad }}: {{ orden.producto.nombre }} </p>-->
<!--                  <p class="font-weight-bolder"> {{ orden.descripcion }} </p>-->
<!--                </div>-->
<!--              </div>-->

<!--              <div class="col">-->
<!--                <div *ngIf="pedido.nombre_factura !== undefined || pedido.nit_factura !== undefined" >-->
<!--                  <div class="row">-->
<!--                    <p> <strong>nombre:</strong>  {{ pedido.nombre_factura }} </p>-->
<!--                  </div>-->
<!--                  <div class="row">-->
<!--                    <p> <strong>nit:</strong> {{ pedido.nit_factura }}</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->

<!--            </div>-->
<!--          </div>-->
<!--        <br>-->
<!--      </div>-->
<!--    </div>-->

<!--  <div class="row m-3">-->
<!--    <div class="col">-->

<!--    </div>-->
<!--    <div class="col-lg-2">-->
<!--      <nav aria-label="Page navigation example">-->
<!--        <ul class="pagination">-->
<!--          <li class="page-item">-->
<!--            <button class="page-link" (click)="previousPage()" *ngIf="pageSkip > 0" >Anteriro</button>-->
<!--          </li>-->
<!--          <li class="page-item">-->
<!--            <button class="page-link" (click)="nextPage()" *ngIf="pedidos.length > 0" >Siguiente</button>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </nav>-->
<!--    </div>-->
<!--    <div class="col">-->

<!--    </div>-->
<!--  </div>-->



<!--    <div *ngIf="pedidos === ''" >-->
<!--      <h2>No hay pedidos!</h2>-->
<!--    </div>-->

<!--</div>-->

<mat-grid-list cols="5" rowHeight="2:1">
  <mat-grid-tile
    [colspan]="1"
    [rowspan]="1"
  >
    <button mat-flat-button color="accent" (click)="pedidosHoy()" >Hoy</button>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="3"
    [rowspan]="1"
  >
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Escoge una fecha</mat-label>
      <input matInput #fecha [matDatepickerFilter]="myFilter" [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button mat-fab color="warn" aria-label="Example icon button with a bookmark icon" (click)="fechaPedido(fecha)" >
      <mat-icon>search</mat-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="1"
    [rowspan]="1"
  >

    <h2 style="color: #f48fb1;" >
      Ingreso total: {{ingresos}} Bs
    </h2>
  </mat-grid-tile>
</mat-grid-list>

<mat-divider></mat-divider>
<h1 style="color: #f48fb1; margin-left: 5%;" > {{ convertirFecha(fechaActualBusquedaFormat) }} </h1>
<mat-divider></mat-divider>

<div *ngIf="pedidos === ''" >
  <h2>No hay pedidos!</h2>
</div>

<div *ngIf="pedidos != undefined">

  <mat-grid-list cols="4" rowHeight="300px"  *ngFor="let pedido of pedidos; let i = index;" style="margin-bottom: 10px;" >
    <mat-grid-tile [colspan]="1" [rowspan]="1" ></mat-grid-tile>

    <mat-grid-tile
      [colspan]="2"
      [rowspan]="1"
    >

      <mat-card class="example-card" >
        <mat-card-header >
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>
            <section>
              <mat-chip-list aria-label="Fish selection">
                <mat-chip color="primary" selected>Cliente: {{pedido.nombre_cliente}} </mat-chip>
                <mat-chip color="accent" selected>Hora: {{ pedido.hora_creacion }} </mat-chip>
                <mat-chip color="warn" selected>Cuenta: {{ pedido.cuenta_pedido }} Bs</mat-chip>
                <mat-chip color="secondary" selected>{{ pedido.tipo }}</mat-chip>
              </mat-chip-list>
            </section>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content >
          <div *ngFor="let orden of pedido.orden; let i = index;" >
             <span  *ngIf="orden.producto_id.categoria_id === pizzas " style="color: #f50057; font-size: 25px;" >Pizza {{ orden.producto_id.nombre }}</span>
             <span  *ngIf="orden.producto_id.categoria_id === alitas " style="color: #ffea00; font-size: 25px;" >{{ orden.producto_id.nombre }}</span>
             <span  *ngIf="orden.producto_id.categoria_id === refrescos " style="color: #33eaff; font-size: 25px;" >Refresco {{ orden.producto_id.nombre }}</span>
             <span  *ngIf="orden.producto_id.categoria_id === helados " style="color: #33bfff; font-size: 25px;" >Helado {{ orden.producto_id.nombre }}</span>
             <span style="font-size: 20px;" > {{ orden.cantidad }} : {{ orden.descripcion }} </span>
          </div>
        </mat-card-content>


<!--        <mat-card-actions>-->
<!--          <button mat-button>LIKE</button>-->
<!--          <button mat-button>SHARE</button>-->
<!--        </mat-card-actions>-->
      </mat-card>

    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1" >
      <div *ngIf="pedido.nombre_factura !== undefined || pedido.nit_factura !== undefined ">
        <mat-card >
          <mat-card-header>
            <mat-card-title>
              <section>
                <mat-chip-list aria-label="Fish selection">
                  <mat-chip color="accent" selected>Datos de la factura </mat-chip>
                </mat-chip-list>
              </section>
            </mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <p  style="color: #4aedc4; font-size: 18px;" >
              Nombre de la factura: &nbsp;
              <span style="color: white; font-size: 18px;" >
                {{pedido.nombre_factura}}
              </span>
            </p>

            <p  style="color: #d1ff33; font-size: 18px;" >
              NIT de la factura: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <span style="color: white; font-size: 18px;" >
                {{pedido.nit_factura}}
              </span>
            </p>
          </mat-card-content>

        </mat-card>
      </div>

    </mat-grid-tile>

  </mat-grid-list>

  <mat-grid-list cols="4" >
    <mat-grid-tile [colspan]="1" [rowspan]="1" > </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1" >
      <button (click)="previousPage()" *ngIf="pageSkip > 0" mat-fab color="primary" aria-label="Example icon button with a delete icon">
        <mat-icon>fast_rewind</mat-icon>
      </button>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1" >
      <button (click)="nextPage()" *ngIf="pedidos.length > 0" mat-fab color="primary" aria-label="Example icon button with a delete icon">
        <mat-icon>fast_forward</mat-icon>
      </button>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1" ></mat-grid-tile>
  </mat-grid-list>

</div>
