<app-navbar></app-navbar>

<mat-grid-list cols="3" rowHeight="100%" >

  <mat-grid-tile >
      <mat-card class=" mat-elevation-z10"  >

        <mat-card-header>
          <mat-card-title >
            Productos
          </mat-card-title>
        </mat-card-header>

        <mat-divider></mat-divider>

        <mat-card-content>
          <mat-list>

            <mat-list-item style="cursor:pointer;" *ngFor="let categ of categorias; let i = index;" >
<!--              <mat-icon mat-list-icon>local_pizza</mat-icon>-->
              <button (click)="pedirProductos(categ._id, i)" mat-stroked-button color="accent">{{ categ.nombre }}</button>
            </mat-list-item>

          </mat-list>
        </mat-card-content>

      </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>

    <mat-card  class="mat-elevation-z10">
      <mat-card-header>
        <mat-card-title>
          Pedido
        </mat-card-title>
      </mat-card-header>

<!--      <mat-divider></mat-divider>-->

      <mat-card-content>
        <div class="example-container">
          <form (ngSubmit)="login(f)" #f="ngForm">
            <p>
              <mat-form-field appearance="outline">
                <mat-label>Nombre del cliente</mat-label>
                <input matInput placeholder="nombre del cliente">
                <mat-icon matSuffix>supervised_user_circle</mat-icon>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Para ...</mat-label>
                <mat-select [(ngModel)]="selectedValue" name="para">
                  <mat-option *ngFor="let p of para" [value]="p.value">
                    {{p.value}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </p>
            <mat-divider></mat-divider>
            <h2 style="color: #f48fb1;" >Ordenes</h2>
            <p>
              <mat-card *ngFor="let orden of ordenes; index as i" class="mat-elevation-z10" style="margin-bottom: 3%;"  >

                <mat-card-header>
                  <mat-card-title style="color: #ffea00;" >
                    {{ orden.nombre }}
                  </mat-card-title>
                  <button (click)="quitarOrden(i)" mat-stroked-button style="color: #f50057;">Quitar</button>
                  <mat-card-subtitle style="color: #ffea00;" >
                    {{orden.precio}} Bs
                  </mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>

                  <mat-form-field appearance="fill">
                    <mat-label>Descripcion</mat-label>
                    <textarea matInput></textarea>
                  </mat-form-field>

                  <mat-form-field appearance="fill">
                    <mat-label>Cantidad</mat-label>
                    <input matInput type="number" class="example-right-align">
                  </mat-form-field>
                </mat-card-content>
              </mat-card>
            </p>

          </form>
        </div>
      </mat-card-content>

      <mat-divider></mat-divider>

      <mat-card-content>
        <mat-card-header>
          <mat-card-title>
            Extras
          </mat-card-title>
        </mat-card-header>
      </mat-card-content>
    </mat-card>

  </mat-grid-tile>

  <mat-grid-tile>

    <mat-card class=" mat-elevation-z10" >

      <mat-card-header>
        <mat-card-title>
          Orden
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <mat-selection-list [multiple]="false">
          <mat-list-option  *ngFor="let producto of productos; index as i" >
            <button mat-raised-button color="accent" (click)="agregarOrden(i)" >{{ producto.nombre }}</button>
          </mat-list-option>
        </mat-selection-list>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>

<!--<div class="row" style="margin: 1%;" >-->

<!--    &lt;!&ndash; tipos de productos &ndash;&gt;-->
<!--    <div class="col-md-2" >-->

<!--        <div class="card border-info">-->
<!--            <div class="card-header border-info" >-->
<!--                <div class="card-title" >-->
<!--                    <h2>Productos</h2>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="card-body" >-->

<!--                <div class="list-group">-->
<!--                    <button-->
<!--                      *ngFor="let categ of categorias; let i = index;"-->
<!--                      type="button"-->
<!--                      class="list-group-item list-group-item-action"-->
<!--                      (click)="pedirProductos(categ._id, i)" > {{ categ.nombre }} </button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->
<!--    &lt;!&ndash; formulario del pedido &ndash;&gt;-->
<!--    <div class="col-md-7" >-->

<!--        <div class="card border-warning">-->
<!--            <div class="card-header border-warning" >-->
<!--                <div class="card-title" >-->
<!--                    <h2>Pedido</h2>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="card-body" >-->
<!--                <form (ngSubmit)="login(f)" #f="ngForm" >-->

<!--                    <div class="form-group">-->

<!--                      <div class="row">-->

<!--                        <div class="col-md-6">-->
<!--                          <h5 class="text-primary" >Nombre del cliente: </h5>-->
<!--                          <input-->
<!--                            [(ngModel)]="pedido.nombre_cliente"-->
<!--                            required-->
<!--                            minlength="2"-->
<!--                            name="nombre_cliente"-->
<!--                            type="text"-->
<!--                            class="form-control" >-->
<!--                        </div>-->

<!--                        <div class="col-md-6">-->
<!--                          <label for="exampleFormControlSelect1">Para:</label>-->
<!--                          <select (change)="paraPedido($event)" class="form-control" id="exampleFormControlSelect1">-->
<!--                            <option value="Llevar" >Llevar</option>-->
<!--                            <option value="Mesa" >Mesa</option>-->
<!--                            <option value="Delivery" >Delivery</option>-->
<!--                          </select>-->
<!--                        </div>-->

<!--                      </div>-->

<!--                    </div>-->

<!--                    <hr>-->

<!--                    &lt;!&ndash; ordenes &ndash;&gt;-->
<!--                    <div class="form-group">-->
<!--                        <h5 class="text-danger" >Ordenes: </h5>-->

<!--                            <div *ngFor="let orden of ordenes; index as i">-->
<!--                              <div-->
<!--                                class="card "-->
<!--                                [ngClass]="{ 'border-danger': ordenColor[i]==='pizzas', 'border-warning': ordenColor[i]==='alitas', 'border-info': ordenColor[i]==='refrescos', 'border-primary': ordenColor[i]==='helados' }"-->
<!--                              >-->
<!--                                <div class="card-body">-->
<!--                                  <div class="row" >-->
<!--                                      <div class="col-md-8" >-->
<!--                                          <p>-->
<!--                                            <span-->
<!--                                              class="badge"-->
<!--                                              [ngClass]="{ 'badge-danger': ordenColor[i] === 'pizzas', 'badge-warning': ordenColor[i]==='alitas', 'badge-info': ordenColor[i]==='refrescos', 'badge-primary': ordenColor[i]==='helados'}"-->
<!--                                            >-->
<!--                                              {{ orden.nombre }}-->
<!--                                            </span>-->
<!--                                          </p>-->


<!--                                          <textarea class="form-control" rows="1" id="descripcion" #des (input)="descripcion(i, des)" placeholder="Descripcion ..."></textarea>-->
<!--                                          <input-->
<!--                                            value="1"-->
<!--                                            type="number"-->
<!--                                            name="cantidad"-->
<!--                                            #cant-->
<!--                                            (input)="cantidad(i, cant)" placeholder="Cantidad" >-->
<!--                                      </div>-->
<!--                                      <div class="col-md-4">-->
<!--                                        <p>-->
<!--                                            <span-->
<!--                                              class="badge"-->
<!--                                              [ngClass]="{ 'badge-danger': ordenColor[i] === 'pizzas', 'badge-warning': ordenColor[i]==='alitas', 'badge-info': ordenColor[i]==='refrescos', 'badge-primary': ordenColor[i]==='helados'}"-->
<!--                                            >-->
<!--                                              {{ precios[i] }} Bs.-->
<!--                                            </span>-->
<!--                                        </p>-->
<!--                                          <button-->
<!--                                            type="button"-->
<!--                                            class="btn btn-outline-danger"-->
<!--                                            (click)="quitarOrden(i)" >Quitar</button>-->
<!--                                      </div>-->
<!--                                  </div>-->
<!--                                </div>-->
<!--                              </div>-->
<!--                              <br>-->
<!--                            </div>-->
<!--                    </div>-->

<!--                    <hr>-->

<!--                  <div class="form-group">-->
<!--                    <div class="row">-->
<!--                      <div class="col-md-5">-->
<!--                        <h5 class="text-secondary" >Extras</h5>-->
<!--                      </div>-->
<!--                      <div class="col">-->
<!--                        <input class="form-control" type="number" #extra (input)="agregarExtra(extra)" [value]="extras" >-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->

<!--                  <hr>-->

<!--                    <div class="form-group">-->
<!--                        <h5 class="text-info" >Datos de la factura:</h5>-->
<!--                        <div class="row" >-->
<!--                          <div class="col-md-6">-->
<!--                            <label > Numero de NIT: </label>-->
<!--                            <input class="form-control" [(ngModel)]="pedido.nit_factura"  type="text" name="nit">-->

<!--                          </div>-->
<!--                          <div class="col-md-6">-->
<!--                            <label >Nombres:</label>-->
<!--                            <input class="form-control" [(ngModel)]="pedido.nombre_factura" type="text" name="nit">-->
<!--                          </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="form-group">-->
<!--                        <div class="row" >-->
<!--                            <div class="col-md-6" >-->
<!--                                <button class="btn btn-outline-primary" type="submit" >Enviar e imprimir</button>-->
<!--                            </div>-->
<!--                            <div class="col-md-6" >-->
<!--                                <h4 class="text-success" > Cuenta total: <span class="badge badge-success" > {{ precioTotal }} Bs </span> </h4>-->
<!--                            </div>-->

<!--                        </div>-->
<!--                    </div>-->
<!--                  </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; lista de productos segun el tipo &ndash;&gt;-->
<!--    <div class="col-md-3" >-->
<!--        <div class="card border-secondary ">-->
<!--            <div class="card-header border-secondary" >-->
<!--                <div class="card-title" >-->
<!--                    <h2>Orden</h2>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="card-body" >-->
<!--                <h5 class="card-title" > {{ tipoProducto }} </h5>-->
<!--                <div class="list-group">-->
<!--                    &lt;!&ndash; <p class="list-group-item list-group-item-action" >Pizz</p> &ndash;&gt;-->
<!--                    <div class="list-group-item" *ngFor="let producto of productos; index as i" >-->

<!--                        <div class="row" >-->
<!--                            <div class="col-md-6" >-->
<!--                                {{ producto.nombre }}-->
<!--                            </div>-->
<!--                            <div class="col-md-3" >-->
<!--                                <p> <span class="badge badge-warning" >{{ producto.precio }} Bs</span> </p>-->
<!--                            </div>-->
<!--                            <div class="col-md-3" >-->
<!--                                <button class="btn btn-outline-success" (click)="agregarOrden(i)" >Agregar</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
