<div class="card" style="margin: 15%;" >
    <div class="card-body" >
        <h1 class="container" >Login</h1>
        <hr>            
        <form (ngSubmit)="login(f)" #f="ngForm" >
            <div class="row" >
                <div class="col-md-2" >
                    <h5>Correo: </h5>
                </div>
                <div class="col-md-10" >
                    <input [(ngModel)]="empleado.correo" class="form-control" name="empleado" type="email" autocomplete="off" >
                </div>
            </div>
            <hr>
            <div class="row" >
                <div class="col-md-2" >
                    <h5>Password: </h5>
                </div>
                <div class="col-md-10" >
                    <input [(ngModel)]="empleado.password" class="form-control" name="password" type="password" autocomplete="off" >
                </div>
            </div>
            <hr>
            <div class="row" >
                <div class="col-12" >
                    <button type="submit" class="btn btn-outline-info " >Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>
